astroid==2.15.8
attrs==25.3.0
autopep8==2.3.2
beautifulsoup4==4.13.4
black==23.3.0
blinker==1.9.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
dill==0.4.0
dotenv==0.9.9
execnet==2.1.1
flake8==6.0.0
Flask==3.1.0
gherkin-official==29.0.0
h11==0.14.0
idna==3.10
iniconfig==2.1.0
isort==5.13.2
itsdangerous==2.2.0
Jinja2==3.1.6
jsonpath-ng==1.7.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
lazy-object-proxy==1.11.0
Mako==1.3.10
MarkupSafe==3.0.2
mccabe==0.7.0
mypy-extensions==1.0.0
outcome==1.3.0.post0
packaging==24.2
parse==1.20.2
parse_type==0.6.4
pathlib==1.0.1
pathspec==0.12.1
platformdirs==4.3.7
pluggy==1.5.0
ply==3.11
pyflakes==3.0.1
pylint==2.17.0
PySocks==1.7.1
pytest==8.3.5
pytest-bdd==8.1.0
pytest-splinter==3.3.2
pytest-xdist==3.2.1
python-dotenv==1.1.0
referencing==0.36.2
requests==2.32.3
robotframework==7.2.2
robotframework-jsonlibrary==0.5
robotframework-pythonlibcore==4.4.1
robotframework-seleniumlibrary==6.7.1
rpds-py==0.24.0
selenium==4.31.0
setuptools==78.1.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
splinter==0.21.0
tk==0.1.0
toml==0.10.2
tomlkit==0.13.2
trio==0.29.0
trio-websocket==0.12.2
typing_extensions==4.13.2
urllib3==2.4.0
websocket-client==1.8.0
Werkzeug==3.1.3
wrapt==1.17.2
wsproto==1.2.0
